.Head{
    background-image:url(purple.jpg);
    color: bisque;
    height: 300px;
    width: 100%;
}
.header{
    height: 100px;
   display: flex;
}

input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 14px;
    width: 300px;
  }

#container{
   border: 2px solid black;
   height: 100px;
   display: flex;
}
#containera{
   border: 2px solid black;
   height: 600px;
   display: flex;
}

#containerb{
   border: 2px solid black;
   height: 600px;
   width: 200px;
   display: flex;
   flex-direction: column;
}
#containerc{
   border: 2px solid black;
   height: 600px;
   width: 80%;
   display: flex;
}
.dev{
    text-align: center;
    padding: 20px;
    margin: 10px;
    height: 20px;
    flex-grow: 1;
}
#firstdiv{
    background-color: pink;
    color: crimson;
}
#secdiv{
    background-color: skyblue;
}
#start{
    background-color: #fff;
}
#end{
    background-color: gray;
}
#sub{
   height: 150px;
   width: 900px;
   display: flex;
}
.yes{
    text-align: center;
    padding: 20px;
    margin: 10px;
    height: 80px;
    flex-grow: 1;
}
#coco{
    background-color: coral;
    height: 200px;
    width: 820px;
    text-align: center;
    padding: 50px;
}
#green{
    background-color: green;
    text-align: center;
    height: 200px;
    width: 800px;
}
.dgreen{
    text-align: center;
    color: bisque;
}